{:db                                                        ; конфиг подключения к базе
 {
  :db-url "//ts20.pyn.ru:5432/hh"
  :db-user "hh"
  :db-password "123"
  }
 :encoding "windows-1251"                                   ; кодировка файла, система принимает "windows-1251"
 :bank :vtb                                                 ; :alfa или :vtb
 :statements [                                              ; список конфигураций для генерации строк в файле
              {
               :bills [2601918 2601990]                     ; обязательное поле
               }
              {
               :bills [2601911 2601912]                     ; список billId для генерации строк
               :multiple? true                              ; одна платежка на несколько счетов если true, дефолт false
               :inn                                         ; кастомный inn
               :company-name                                ; кастомное название компании
               :subject "Оплата по договору 1231234/11"     ; кастомный заголовок платежки, дефолт "Оплата по договору billUid"
               :include-uid? false                          ; включать ли billUid в заголовок платежки, дефолт true
               :payer-bank-account ""
               :payer-bank-name ""
               :payer-bank-bik ""
               }
              ]
 }
